@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-variant-numeric: tabular-nums;
    font-size: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.app-container {
    text-align: center;
}
.app-container button {
    cursor: pointer;
    width: 100px;
    padding: 0.5rem;
}
footer {
    padding: 0 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}
footer p a {
    font-size: 2rem;
    color: #272727;
    text-decoration: none;
}
